<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="styles.css">
</head>

<nav th:fragment="nav">
    <a th:href="@{'/?name=' + ${name}}"><button name="information">Information</button></a>
    <a th:href="@{'/nutritionStore?name=' + ${name}}"><button name="nutrition">Nutrition Store</button></a>
    <a th:href="@{'/trickCenter?name=' + ${name}}"><button name="tricks">Trick Center</button></a>
    <a th:href="@{'/actionHistory?name=' + ${name}}"><button name="history">Action History</button></a>
</nav>