<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments :: head('FoxClub')"></head>

<body>

    <th:block th:insert="fragments :: nav"></th:block>

    <main>
        <img th:src="@{img/greenfox.png}">
        <p th:text="${description}"></p>
        <h1>Known tricks</h1>

        <th:block th:if="${tricks.isEmpty()}">
            <p>You know no tricks, yet. Go and learn some.</p>
        </th:block>

        <th:block th:unless="${tricks.isEmpty()}">
            <ul th:each="trick : ${tricks}">
                <li th:text="${trick.toString()}"></li>
            </ul>
        </th:block>
    </main>

</body>
</html>