<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments :: head(${'FoxClub'})"></head>

<body>

    <nav th:insert="fragments :: nav"></nav>

    <main>
        <img th:src="@{img/greenfox.png}">
        <p th:text="${description}"></p>
        <h1>Known tricks</h1>
        <th:block th:if="${tricks.isEmpty()}">
            <div th:insert="fragments :: noTricks"></div>
        </th:block>
        <th:block th:unless="${tricks.isEmpty()}">
            <div th:insert="fragments :: listOfTricks"></div>
        </th:block>
    </main>
</body>
</html>