<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments :: head('FoxClub login')"></head>

<body>

    <h1>Welcome to Programmer Fox Club!</h1>

    <p>Please provide a name, so you can associate it to your pet!</p>

    <th:block th:if="${error} != null">
        <p th:text="${error}" style="color: red"></p>
    </th:block>

    <form action="/login" method="post">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name"/>
        <button type="submit">GO</button>
    </form>

</body>
</html>