<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Assignee</title>
</head>
<body>

<h1>Edit Assignee</h1>
<form th:action="@{/todo/editAssignee/{id}(id=${assignee.getId()})}" method="post">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" th:value="${assignee.getName()}">
    <label for="email">Email</label>
    <input type="text" id="email" name="email" th:value="${assignee.getEmail()}">
    <button type="submit">Submit</button>
    <button type="button"><a href="/todo/assignee">Cancel</a></button>
</form>

</body>
</html>