<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo CRUD App</title>
</head>
<body>

    <h1>Todos for today:</h1>
    <a href="/todo/add">Add new todo</a>
    <table>
        <th>ID</th>
        <th>Title</th>
        <th>Done</th>
        <th>Urgent</th>
        <tr th:each="item : ${todos}">
            <td th:text="${item.getId()}"></td>
            <td th:text="${item.getTitle()}"></td>
            <td th:text="${item.isDone()}"></td>
            <td th:text="${item.isUrgent()}"></td>
            <td><a th:href="@{/todo/{id}/delete(id=${item.getId()})}">delete</a></td>
            <td><a th:href="@{/todo/{id}/edit(id=${item.getId()})}">edit</a></td>
        </tr>
    </table>

</body>
</html>