body {
    background-color: lightgray;
    font-family: 'Raleway', sans-serif;
    color: grey;
}

main {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-content: space-around;
}

form {
    background-color: white;
    padding: 30px;
    width: 400px;
    box-shadow: 5px 5px gray;
}

h1 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

input {
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 30px;
    height: 2em;
    width: 100%;
    font-size: large;
}

a {
    text-decoration: none;
    color: #16a085;
}

.alert {
    color: darkorange;
    text-align: center;
}

.eye {
    position: relative;
    top: 0;
    left: 0;
}

#icon {
    position: absolute;
    right: 2em;
    bottom: 0.6em;
    cursor: pointer
}

#username:focus, #email:focus, #password:focus, #passwordConfirmation:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #16a085;
}

#signup, #login {
    display: inline;
    border: none;
    margin-bottom: 30px;
    background-color: #16a085;
    width: 150px;
    height: 3em;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

#signup:hover, #orSignup:hover, #login:hover {
    cursor: pointer;
}

#orSignup {
    float: right;
    border: 1px solid #16a085;
    background-color: white;
    margin-top: 30px;
    width: 150px;
    height: 3em;
    color: #16a085;
    font-family: 'Raleway', sans-serif;
    font-size: large;
    text-transform: uppercase;
}