<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reddit</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
          integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector: 'textarea', height: 350});</script>
</head>
<body class="bg-light">

<header>
    <nav class="navbar sticky-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/r/greenfox">
            <!--                <img src="./img/reddit_long.png" alt="A reddit logo picturing a cute astronaut" height="50px" class="d-inline-block align-top">-->
            <i class="fab fa-reddit-square fa-lg"><span class="ml-2" id="brand">Reddit</span></i>
        </a>
        <div class="navbar-text" th:if="${successMessage} != null" th:text="${successMessage}"></div>
        <ul class="nav">
            <li class="nav-item">
                <i class="btn fas fa-user fa-lg text-white bg-dark"></i>
            </li>
            <li class="nav-item">
                <span class="btn text-white bg-dark" th:text="${currentUser.getUsername()}"></span>
            </li>
            <li class="nav-item">
                <form th:action="@{/logout}" method="post">
                    <input class="btn btn-outline-success rounded-0 ml-2" type="submit" value="Logout"/>
                </form>
            </li>
        </ul>
    </nav>
</header>

<main class="container-md">
    <div class="row">
        <div class="col-9">
            <table class="table-hover">
                <tr class="" th:each="thread : ${threads}">
                    <td class="text-right pl-2" th:text="${thread.getVote()}"></td>
                    <td class="px-2">
                        <span><a th:href="@{/r/greenfox/{threadId}/upvote(threadId=${thread.getId()})}">
                            <i class="fas fa-thumbs-up text-success"></i></a>
                        </span>
                        <span><a th:href="@{/r/greenfox/{threadId}/downvote(threadId=${thread.getId()})}">
                            <i class="fas fa-thumbs-down text-success"></i></a>
                        </span>
                    </td>
                    <td class="p-3 bg-white border-bottom border-success">
                        <h4 th:text="${thread.getTitle()}"></h4>
                        <div th:utext="${thread.getContent()}"></div>
                        <div class="d-inline">
                            <span class="text-black-50"
                                  th:text="'Created by: ' + ${thread.getUser().getUsername()}"></span>
                            <span class="text-black-50 mx-2" th:text="'On: ' + ${thread.getCreationDate()}"></span>
                            <div class="float-right">
                                <button class="btn btn-sm btn-success rounded-0" type="button">
                                    <a class="text-white text-decoration-none"
                                       th:href="@{/r/greenfox/{threadId}/reply(threadId=${thread.getId()})}">Replay</a>
                                </button>
                                <th:block th:if="${thread.getUser() == currentUser}">
                                    <form class="d-inline" th:action="@{/r/greenfox}" method="get">
                                        <input type="hidden" name="edit" value="true"/>
                                        <input type="hidden" name="id" th:value="${thread.getId()}">
                                        <input class="btn  btn-sm btn-outline-success rounded-0" type="submit" value="Edit"/>
                                    </form>
                                    <form class="d-inline" th:action="@{/r/greenfox/{id}/delete(id=${thread.getId()})}"
                                          method="get">
                                        <input class="btn btn-sm btn-outline-success rounded-0" type="submit" value="Delete"/>
                                    </form>
                                </th:block>
                            </div>
                        </div>
                        <th:block th:if="${editPost == true and thread.getId() == currentPost.getId()}">
                            <form action="/r/greenfox/update" method="post" th:object="${currentPost}">
                                <input type="hidden" name="id" id="id" th:value="*{id}">
                                <div class="input-group my-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Title</span>
                                    </div>
                                    <input type="text" class="form-control" th:field="*{title}" required autofocus
                                           placeholder="A meaningful title of your content...">
                                </div>
                                <textarea name="content" id="content" th:text="*{content}"></textarea>
                                <button class="btn btn-sm btn-outline-success rounded-0 float-right my-2" type="button">
                                    <a class="text-success text-decoration-none" th:href="@{/r/greenfox/}">Cancel</a>
                                </button>
                                <input class="btn btn-sm btn-success rounded-0 float-right m-2" type="submit" value="Update">
                            </form>
                        </th:block>
                    </td>
                </tr>
            </table>

            <th:block th:if="${newThread} == true">
                <form action="/r/greenfox/newThread" method="post" th:object="${newPost}" id="editor">
                    <div class="input-group my-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Title</span>
                        </div>
                        <input type="text" class="form-control" th:field="*{title}" required autofocus
                               placeholder="A meaningful title of your content...">
                    </div>
                    <textarea th:field="*{content}" placeholder="Put your content here..."></textarea>
                    <button class="btn btn-sm btn-outline-success rounded-0 float-right my-2" type="button">
                        <a class="text-success text-decoration-none" th:href="@{/r/greenfox/}">Cancel</a>
                    </button>
                    <input class="btn btn-sm btn-success rounded-0 float-right m-2" type="submit" value="Post">
                </form>
            </th:block>

        </div>

        <aside class="col-3 d-flex flex-column bg-dark">
            <form class="w-100" th:action="@{'/r/greenfox' + '#editor'}" method="get">
                <input type="hidden" name="newThread" value="true"/>
                <input class="btn btn-success rounded-0 w-100 my-2" type="submit" value="Submit a New Thread"/>
            </form>
            <div class="p-2 text-center bg-white"><strong>ABOUT </strong><a href="/r/greenfox" class="text-decoration-none">r/greenfox</a></div>
            <div class="p-2 text-center bg-light">Share & discuss informative content on:</div>
            <div class="p-2 bg-light">
                <ul>
                    <li>Computer Science</li>
                    <li>Technologies</li>
                    <li>Editors</li>
                    <li>Research</li>
                    <li>Proof of Concepts</li>
                </ul>
            </div>
        </aside>
    </div>
</main>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</html>