<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>Reddit - Login</title>
</head>

<body>
    <main>
        <form action="/login" method="post">
            <img src="./img/reddit_logo.png" alt="A small astronaut cartoon" width="60px">
            <h1>Account Login</h1>
            <input type="email" name="email" id="email" placeholder="E-mail" required autofocus>
            <input type="password" name="password" id="password" placeholder="Password" required pattern="[0-9a-zA-z]{8,24}"
                   title="Enter a password consisting of 8-24 digits or letters">
            <div class="eye">
                <i id="icon" class="fa fa-eye-slash fa-lg"></i>
            </div>
            <input type="submit" value="Login" id="login">
            <button type="button" id="orSignup"><a href="/signup">Sign up</a></button>
            <div th:if="${param.error}" class="alert">
                Invalid email or password.
            </div>
            <div th:if="${param.logout}" class="alert">
                You have been successfully logged out.
            </div>
            <br/>
        </form>
    </main>
</body>

<script>
    let icon = document.getElementById('icon');
    let password_field = document.getElementById('password')
    icon.onclick = function () {
        if (password_field.type === "password") {
            password_field.type = "text";
            icon.className = "fa fa-eye fa-lg"
        } else {
            password_field.type = "password";
            icon.className = "fa fa-eye-slash fa-lg"
        }
    }
</script>

</html>