<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <title>Average Stock</title>
</head>
<body>
    <header>
        <h1><a href="/webshop" id="link"><i class="fab fa-shopify"></i> Basic WebShop</a></h1>
        <form action="/convert" method="post">
            <select name="convertTo">
                <option th:each="i : ${currencies}" th:value="${i}" th:text="${i}" th:selected="${currency} == ${i}"></option>
            </select>
            <button type="submit">Convert</button>
        </form>
    </header>
    <hr>
    <nav>
        <div>
            <form action="/only-available" method="get">
                <button type="submit">Only Available</button>
            </form>
            <form action="/cheapest-first" method="get">
                <button type="submit">Cheapest First</button>
            </form>
            <form action="/contains-nike" method="get">
                <button type="submit">Contains NIKE</button>
            </form>
            <form action="/average-stock" method="get">
                <button type="submit">Average Stock</button>
            </form>
            <form action="/most-expensive" method="get">
                <button type="submit">Most Expensive Available</button>
            </form>
            <form action="/more-filters" method="get">
                <button type="submit"><i class="fas fa-angle-double-right"></i></button>
            </form>
        </div>
        <div>
            <form action="/filter-by-price" method="post" id="searchForm">
                <button type="submit" value="Above" name="filter">Above</button>
                <button type="submit" value="Below" name="filter">Below</button>
                <button type="submit" value="Exactly" name="filter">Exactly</button>
                <input type="text" id="searchBox" name="searchBoxPrice" th:placeholder="${filter} != null ? ${filter}
                        + ' ' + ${#numbers.formatDecimal(filterValue, 0, 'POINT', 2, 'COMMA')} + ' '
                        + ${currency} : 'Filter by price'" pattern="[0-9]+" title="Only numbers" required>
            </form>
        </div>
        <div>
            <form action="/search" method="post" id="searchForm">
                <input type="text" id="searchBox" name="searchBox" placeholder="Searching for?">
                <button type="submit">Search</button>
            </form>
        </div>
    </nav>
    <main>
        <h2 th:text="'Average stock: ' + ${average}"></h2>
    </main>
</body>
</html>