<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>Basic WebShop</title>
</head>
<body>
    <header>
        <h1><a href="/webshop" id="logo">Basic WebShop</a></h1>
        <hr>
    </header>
    <nav>
        <form action="/only-available" method="get">
            <button type="submit">Only Available</button>
        </form>
        <form action="/cheapest-first" method="get">
            <button type="submit">Cheapest First</button>
        </form>
        <form action="/contains-nike" method="get">
            <button type="submit">Contains NIKE</button>
        </form>
        <form action="" method="get">
            <button type="submit">Average Stock</button>
        </form>
        <form action="" method="get">
            <button type="submit">Most Expensive Available</button>
        </form>
        <form action="" method="post" id="searchForm">
            <input type="text" id="searchBox" placeholder="What are you searching for?">
            <button type="submit">Search</button>
        </form>
    </nav>
    <main>
        <table>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity of Stock</th>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${#numbers.formatDecimal(product.price, 0, 'POINT', 2, 'COMMA')} + ' ' + ${currency}" class="right"></td>
                <td th:text="${product.qtyOfStock}" class="right"></td>
            </tr>
        </table>
    </main>
</body>
</html>