<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <title>Basic WebShop</title>
</head>
<body>
    <header>
        <h1><a href="/webshop" id="link"><i class="fab fa-shopify"></i> Basic WebShop</a></h1>
        <form action="/convert" method="post">
                <select th.field="${currencies}" name="convertTo">
                    <option th:each="i : ${currencies}" th:value="${i}" th:text="${i}"></option>
                </select>
            <button type="submit">Convert</button>
        </form>
    </header>
    <hr>
    <nav>
        <div>
            <form action="/webshop" method="get">
                <button type="submit"><i class="fas fa-angle-double-left"></i></button>
            </form>
            <form action="/filter-by-type/clothes-and-shoes" method="get">
                <button type="submit">Clothes and Shoes</button>
            </form>
            <form action="/filter-by-type/electronics" method="get">
                <button type="submit">Electronics</button>
            </form>
            <form action="/filter-by-type/beverages-and-snacks" method="get">
                <button type="submit">Beverages and Snacks</button>
            </form>
            <form action="/huf" method="get">
                <button type="submit">HUF</button>
            </form>
            <form action="/more-filters" method="get">
                <button type="submit">EUR</button>
            </form>
        </div>
        <div>
            <form action="/filter-by-price" method="post" id="searchForm">
                <button type="submit" value="Above" name="filter">Above</button>
                <button type="submit" value="Below" name="filter">Below</button>
                <button type="submit" value="Exactly" name="filter">Exactly</button>
                <input type="text" id="searchBox" name="searchBoxPrice" th:placeholder="${filter} != null ? ${filter}
                        + ' ' + ${#numbers.formatDecimal(filterValue, 0, 'POINT', 2, 'COMMA')} + ' '
                        + ${currency} : 'Filter by price'" pattern="[0-9]+" title="Only numbers" required>
            </form>
        </div>
        <div>
            <form action="/search" method="post" id="searchForm">
                <input type="text" id="searchBox" name="searchBox" placeholder="Searching for?">
                <button type="submit">Search</button>
            </form>
        </div>
    </nav>
    <main>
        <table>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity of Stock</th>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.getProductCategory()}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${#numbers.formatDecimal((convertedPrice != null ? convertedPrice : product.price), 0, 'POINT', 2, 'COMMA')} + ' ' + ${currency}" class="right"></td>
                <td th:text="${product.qtyOfStock}" class="right"></td>
            </tr>
        </table>
    </main>
    </body>
</html>